<!-- tap on top starts-->
<div class="tap-top">
    <i data-feather="chevrons-up"></i>
</div>
<!-- tap on tap ends-->
<!-- page-wrapper Start-->
<div class="page-wrapper compact-wrapper" id="pageWrapper">
    <!-- Page Header Start-->
    <app-header></app-header>
    <!-- Page Header Ends-->
    <!-- Page Body Start-->
    <div class="page-body-wrapper">
        <!-- Page Sidebar Start-->
        <div class="sidebar-wrapper">
            <app-sidebar></app-sidebar>
        </div>
        <!-- Page Sidebar Ends-->
        <div class="page-body">
            <div class="container-fluid">
                <div class="page-title">
                    <div class="row">
                        <div class="col-6">
                            <h3>Profile Management</h3>
                        </div>
                        <div class="col-6">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="index.html">
                                        <i-feather name="User">
                                        </i-feather>
                                    </a>
                                </li>
                                <li class="breadcrumb-item">Profile Management</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            
        <!-- Container-fluid starts-->
                <div class="container-fluid">   
                    <div class="row">
                        <!-- Zero Configuration  Starts-->
                        <div class="col-sm-12">
                            <div class="card">
                                <form [formGroup]="profileForm" (ngSubmit)="onProfile()">
                                <div class="card-body">                                    
                                        <div class="profile-management-wra">                                        
                                            <div class="row">                                            
                                                <h3 class="change-pass-title mt-0 mb-2">✧General Setting</h3>
                                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                                        <div class="form-group mb-2">
                                                            <label for="exampleInputEmail1">First name</label>
                                                            <input type="email" class="form-control" formControlName="first_name" placeholder="John" id="exampleInputEmail1" aria-describedby="emailHelp"
                                                                [ngClass]="{ 'is-invalid': submitted && f['first_name'].errors }">
                                                                    <div *ngIf="submitted && f['first_name'].errors" class="invalid-feedback">
                                                                        <div *ngIf="f['first_name'].errors['required']">First Name is required</div>
                                                                    </div>
                                                        </div>
                                                    </div>                                                
                                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                                        <div class="form-group mb-2">
                                                            <label for="exampleInputEmail1">Last name</label>
                                                            <input type="text" class="form-control" formControlName="last_name" placeholder="poole" id="exampleInputEmail1" aria-describedby="emailHelp"
                                                            [ngClass]="{ 'is-invalid': submitted && f['last_name'].errors }">
                                                            <div *ngIf="submitted && f['last_name'].errors" class="invalid-feedback">
                                                                <div *ngIf="f['last_name'].errors['required']">LastName is required</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1"> profile photo</label>                                                            
                                                                <div class="file-select">
                                                                    <!-- <div class="file-select-button"></div>                                                                    
                                                                    <img src="url" height="100"><br>
                                                                    <input type="file" name="chooseFile" class="chooseFile form-control" accept=".png, .jpg, .jpeg" (change)="onProfileChange($event)"  data-bs-original-title=""
                                                                    
                                                                    <div *ngIf="submitted && f['profile_pic'].errors" class="invalid-feedback">
                                                                        <div *ngIf="f['profile_pic'].errors['required']">profile photo required</div>
                                                                    </div> -->
                                                                    <div class="avatar-upload">
						                                                <div class="avatar-edit">
							                                                <input type='file' id="imageUpload" formControlName="profile_pic" accept=".png, .jpg, .jpeg" #fileInput (change)="onProfileChange($event)" />
                                                                            <img [src]="url">
                                                                             <div *ngIf="submitted && f['profile_pic'].errors" class="invalid-feedback">
                                                                        <div *ngIf="f['profile_pic'].errors['required']">profile photo required</div>
                                                                    </div>
                                                                        </div>
                                                                        
                                                                    </div>
          
                                                                </div>                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Email address</label>
                                                            <input type="email" class="form-control"  formControlName="email" placeholder="email@gmail.com" id="exampleInputEmail1" aria-describedby="emailHelp"
                                                                [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                                                                <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                                                <div *ngIf="f['email'].errors['required']">email is required</div>
                                                            </div>
                                                        
                                                        </div>
                                                    </div>                                           
                                            </div>
                                            
                                            <div class="profile-management-btn">
                                                <button class="btn btn-secondary mt-4" style="margin-right: 10px;" data-bs-original-title="" title="">Cancel</button>
                                                <button class="btn btn-primary mt-4"  type="submit">Save</button>
                                            </div>
                                        </div>
                                 </div>
                                </form>
                            </div>
                        </div>

                         <div class="col-sm-12"> 
                            <div class="card">
                                <form [formGroup]="passwordForm" (ngSubmit)="passSubmit()">
                                    <div class="card-body">
                                        <div class="profile-management-wra">                                            
                                                <div class="row">
                                                    <h3 class="change-pass-title mt-0 mb-2">✧ Password Setting</h3>
                                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                                        <div class="form-group mb-2">
                                                            <label for="exampleInputEmail1">Current password</label>
                                                            <input type="password" class="form-control" formControlName="Current_password" placeholder="********" 
                                                                id="exampleInputEmail1" aria-describedby="emailHelp" [ngClass]="{ 'is-invalid': submitted1 && f1['Current_password'].errors }">
                                                                <div *ngIf="submitted1 && f1['Current_password'].errors" class="invalid-feedback">
                                                                    <div *ngIf="f1['Current_password'].errors['required']">email is required</div>
                                                                </div>                                                        
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                                        <div class="form-group mb-2">
                                                            <label for="exampleInputEmail1">New password</label>
                                                            <input type="password" class="form-control" formControlName="new_password" Current_password placeholder="********"
                                                            id="exampleInputEmail1" aria-describedby="emailHelp" [ngClass]="{ 'is-invalid': submitted1 && f1['new_password'].errors }">
                                                            <div *ngIf="submitted1 && f1['new_password'].errors" class="invalid-feedback">
                                                                <div *ngIf="f1['new_password'].errors['required']">NewPassword is required</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                                        <div class="form-group mb-2">
                                                            <label for="exampleInputEmail1">Confirm password</label>
                                                            <input type="password" class="form-control" formControlName="confirm_password" placeholder="********" id="exampleInputEmail1" aria-describedby="emailHelp"
                                                            [ngClass]="{ 'is-invalid': submitted1 && f1['confirm_password'].errors }">
                                                            <div *ngIf="submitted1 && f1['confirm_password'].errors" class="invalid-feedback">
                                                                <div *ngIf="f1['confirm_password'].errors['required']">confirm_password is required</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                           
                                            <div class="profile-management-btn">
                                                <button class="btn btn-secondary mt-4 "style="margin-right: 10px;" data-bs-original-title="" title="" (click)="onReset()">Cancel</button>
                                                <button class="btn btn-primary mt-4 " type="submit">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Zero Configuration  Ends-->
                    </div>
                </div>
                <!-- Container-fluid Ends-->
            </div>
            <!-- footer start-->
        <app-footer></app-footer>
    </div>
</div>

