<!-- footer start-->
<footer class="footer new-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 footer-copyright text-center ">
                <div class="text-center d-flex" style="justify-content: center;">
                    <p class="mb-0 mr-5">Copyright © On To Family Admin 2021 </p>
                    <a href="privacy-policy.html" class="ml-5"></a>
                    <a href="term-conditions.html"></a>
                </div>
            </div>
        </div>
    </div>
</footer>
