<!-- Page Sidebar Start-->
<div class="sidebar-wrapper">
    <div>
      <div class="logo-wrapper">
          <a routerLink="/index">
            <img
              class="img-fluid for-light"
              src="../../../assets/images/choiadmin.png"
              alt=""
            />
            <img
              class="img-fluid for-dark"
              src="../../../assets/images/choiadmin.png"
              alt=""
            />
          </a>
          <!-- <div class="back-btn"><i class="fa fa-angle-left"></i></div> -->
          <div class="toggle-sidebar">
            <i-feather class="status_toggle middle sidebar-toggle" name="Grid">
            </i-feather>
          </div>
      </div>
      <div class="logo-icon-wrapper">
          <a routerLink="/index"
            ><img class="img-fluid" src="assets/images/favicon.png" alt=""
          /></a>
      </div>
      <nav class="sidebar-main">
          <div class="left-arrow" id="left-arrow">
            <i-feather name="arrow-left"></i-feather>
          </div>
          <div id="sidebar-menu">
              <ul class="sidebar-links" id="simple-bar" data-simplebar="init"><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden;"><div class="simplebar-content" style="padding: 0px;">
                  <li class="sidebar-list">
                    <a class="sidebar-link  sidebar-title link-nav" href="javascript:void(0)" data-bs-original-title="" title="" [routerLink]="['/main/']"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg><span>Dashboard</span><div class="according-menu"><i class="fa fa-angle-right"></i></div></a></li>

                  <li class="sidebar-list">
                    <a class="sidebar-link sidebar-title link-nav" href="javascript:void(0)" [routerLink]="['/main/user-management']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" data-bs-original-title="" title=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg><span>User Management</span><div class="according-menu"><i class="fa fa-angle-right"></i></div></a></li>

                  <li class="sidebar-list">
                    <a class="sidebar-link sidebar-title link-nav" href="javascript:void(0)" [routerLink]="['/main/report-managment']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" data-bs-original-title="" title=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg><span>User report management</span><div class="according-menu"><i class="fa fa-angle-right"></i></div></a></li>

                  <li class="sidebar-list">
                    <a class="sidebar-link sidebar-title link-nav" href="javascript:void(0)" data-bs-original-title="" title="" [routerLink]="['/main/notification']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell"><path d="M22 17H2a3 3 0 0 0 3-3V9a7 7 0 0 1 14 0v5a3 3 0 0 0 3 3zm-8.27 4a2 2 0 0 1-3.46 0"></path></svg><span>Notification management</span><div class="according-menu"><i class="fa fa-angle-right"></i></div></a></li>

                                     
                  <li class="sidebar-list">
                    <a class="sidebar-link sidebar-title link-nav" href="javascript:void(0)" [routerLink]="['/main/profile-managment']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" data-bs-original-title="" title=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg><span>Profile Management</span><div class="according-menu"><i class="fa fa-angle-right"></i></div></a></li>
           
                </div></div></div></div><div class="simplebar-placeholder" style="width: auto; height: 204px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: hidden;"><div class="simplebar-scrollbar" style="height: 0px; display: none;"></div></div></ul>
          </div>
      </nav>
    </div>
</div>

<!-- Page Sidebar Ends-->
