<!-- login page start-->
<div class="container-fluid p-0">
    <div class="row m-0">
        <div class="col-12 p-0">
            <div class="login-card">               
                <div class="login-main">
                        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" class="theme-form">
                            <div>
                                <a class="logo" href="#"><img class="img-fluid for-light login-l-img"
                                        src="../../../assets/images/Logo.png" alt="looginpage"><img
                                        class="img-fluid for-dark" src="../../../assets/images/logo/logo_dark.png"
                                        alt="looginpage"></a>
                            </div>
                            <h4>Create New Password</h4>   

                            <div class="form-group" style="position: relative;">
                                <label class="col-form-label">Password</label>
                                    <input class="form-control" formControlName="password" type="password" name="login[password]" required=""
                                        placeholder="password"  [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
                                            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                                                <div *ngIf="f['password'].errors['required']">
                                                    Password is required
                                                </div>
                                                <div *ngIf="f['password'].errors['minlength']">
                                                    Password must be at least 6 characters
                                                </div>
                                            </div>   
                                    <!-- <div class="show-hide"><span class="show"> </span></div> -->
                            </div>

                            <div class="form-group" style="position: relative;">
                                <label class="col-form-label">Confirm Password</label>
                                    <input class="form-control" formControlName="confirm_password" type="password" name="login[password]" required=""
                                                placeholder="confirm_password" [ngClass]="{ 'is-invalid':submitted && f['confirm_password'].errors}">
                                            <div *ngIf="submitted && f['confirm_password'].errors" class="invalid-feedback">
                                                <div *ngIf="f['confirm_password'].errors['required']">
                                                    confirm_password is required
                                                </div>
                                                <div *ngIf="f['confirm_password'].errors['minlength']">
                                                    Password must be at least 6 characters
                                                </div>
                                                <div *ngIf="f['confirm_password'].errors['matching']">
                                                    Confirm Password does not match
                                                </div>
                                            </div>   
                                <!-- <div class="show-hide">
                                    <span class="show">                                        
                                    </span>                                
                                </div> -->
                            </div>
                            <div class="form-group mb-0">
                                <a href="javascript:void(0)" routerLink="/index" class="btn modelbtn mt-3 btn-block" type="submit"
                                    style="margin-right: 10px;">Back</a>
                                <button  class="btn btn-primary mt-3 btn-block" type="submit">Sign in</button>

                            </div>

                        </form>
                </div>                
            </div>
        </div>
    </div>
</div>

